body{
    margin-left: 10px;
    background-color: #f2fbf2;
}
h2{
    text-align: center;
    margin: 18px;
    color: #333333;
}
.chart-container{
  width: 50%;
  margin-left: 15%;
  border: 2px #333;
  margin-top: 5%;
  transition: 0.2s;
}


#myChart {
    /* position: absolute; */
    background-size: 50%;
    margin-left: 30px;
    /* transform: scale(2.2);  */
    
    
}

#updateid {
    margin-top: 150px;
    border: 2px solid #ccc;
    border-radius: 5px;
  padding-top: -15px;
}
.pieChart{
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  border-radius: 10px;
  width: 70%;
  margin: 50px auto;
}
.text-area{
  margin-top: 500px;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f7f7f7;
  width: 1000px;
  margin: 60px auto;
}
.pieChart label{
  margin-left: 60px;
  font-size: 22px;
  font-weight: bold;
}

#chartdiv {
  /* border: 2px solid black; */
  padding: 20px;
    margin-top: 6%;
    margin-right: 30%;
    width: 100%;
    height: 500px;
  }

#updateid{

    font-size: 19px;
    /* font-size: 16px; */
  font-family: sans-serif;
  font-weight: bold;
  background-color: #f9f9f9;
  width: 200px;
  height: 40px;
  margin-top: 2%;
  margin-left: 17%;
  padding: 5px;
  color: #333;
  text-align: center;
  cursor: pointer;
}
select:focus {
    outline: none;
    border-color: #6db7ff;
    box-shadow: 0 0 10px #6db7ff;
  }
  select option {
    font-size: 19px;
    font-family: sans-serif;
    color: #333;
    background-color: #f9f9f9;
  }
  select option:checked {
    background-color: #6db7ff;
    color: #fff;
  }

table{
  /* margin: 10px; */
  padding: 0;
  border-collapse: collapse;
  border-radius: 5px;
  color: #333;
  background-color: #f9f9f9;
  width: 400px;
  margin: 0 auto;
}
td {
    border: 1px solid #ccc;
    padding: 8px;
    margin: 0;
    text-align: center;
  }
  tr:nth-child(odd) td {
    background-color: #f2f2f2;
  }
  tbody tr:hover td {
    background-color: #d0ebd0;
    color: #fff;
  }
.row{
    width: 80%;
    margin: 0 auto;
}

.chart-container:hover{
  transform: scale(1.1);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
  transition-delay:0.1s;
}

.pieChart{
  transition: 0.2s;
}

.pieChart:hover{
  transform: scale(1.1);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
  transition-delay:0.1s;
}

select:hover{
  transform: scale(1.1);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

select {
  width: 200px;
  height: 200px;
  box-shadow: 16px 14px 20px #0000008c;
  border-radius: 10px;
  position: relative;
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
}
select::before{
  content: "";
  background-image: conic-gradient(
      #ff0052 20deg,
      transparent 120deg
  );
  width: 150%;
  height: 150%;
  position: absolute;
  animation: rotate 2s linear infinite;
}
select::after{
  content: "";
  width: 190px;
  height: 190px;
  background: #101010;
  position: absolute;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff0052;
  font-size: larger;
  letter-spacing: 5px;
  box-shadow: inset 20px 20px 20px #0000008c;
}
@keyframes rotate {
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(-360deg);
  }
}